<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>

    <ul class="navbar">
        
        <li><a href="{% url 'upload:entry' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'upload:documents' %}">Belgeler</a></li>
        <li>
            <form action="{% url 'users:logout' %}" method="POST" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'users:register' %}">Register</a></li>
        <li><a href="{% url 'users:login' %}">Login</a></li>

        {% endif %}
        
    </ul>

    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
