{% extends "layout.html" %}

{% block title %}Şirketin Mali Belgeleri{% endblock title %}

{% block styles %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock styles %}


{% block content %}

<section>
    <h1>Şirketin Mali Belgeleri</h1>
    <form action="{% url 'upload:sirketin_mali_bilgileri' %}" method = 'POST'  enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }} 

        <button type="submit" name="action" value="submit" {% if is_uploaded%}
        style="background-color: rgb(61, 64, 80);"
        disabled
{% endif %}
>Submit File</button>


    
        <button type="submit" name="action" value="clear">Clear File</button>


        {% if file == None %}
        <p></p>

        {% else %}
        <p>{{ file }}</p>
        {% endif %}


    </form>
</section>


{% endblock content %}